.login {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  &__logo {
    display: flex;
    cursor: pointer;
    img {
      width: 15rem;
    }
  }

  &__left {
    width: 40rem;
    height: 100vh;
    width: 40vw;
    background-color: #f8f9fa;
    padding: 6rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__form {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    gap: 1rem;
    font-weight: 900;
    padding-bottom: 3rem;
    border-bottom: 1px solid #000;
    & > * {
      flex: 1;
    }
    button {
      margin-top: 1rem;
      font-size: 1.25rem;
    }
  }

  &__signup {
    margin-top: 3rem;
    width: 100%;
  }

  &__reserve {
    width: 100%;
    margin-top: 8rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
  }

  &__banner {
    background-image: url(https://www.pluralsight.com/content/dam/pluralsight2/login/bg-gtm-2020.png),
      linear-gradient(90deg, #414345 0%, #232526 100%);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height: 100vh;
    flex: 1;
    position: relative;
    img {
      position: absolute;
      top: 40%;
      left: 20%;
      transform: translate(-20%, -50%);
    }
  }
}
