.footer {
  color: #fff;
  background-color: #1c1d1f;
  margin-top: 2rem;
  padding: 0 2rem;
  &__cre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-bottom: 0.5rem;
    h3 {
      font-size: 2.5rem;
      font-weight: 800;
    }
  }

  &__teach {
    border-bottom: 1px solid #3e4143;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    h3 {
      font-weight: 900;
      font-size: 1.2rem;
    }
  }

  .btn-outline-dark {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    &-left {
      display: flex;
      gap: 5rem;
      & > * {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &-right {
    }
  }
}

.margintop-5 {
  margin-top: 25rem;
}
