<nav class="header">
  <div class="header-search">
    <a class="d-flex header-logo" [routerLink]="['/']">
      <img
        src="./assets/img/header_logo.png"
        alt=""
        class="header-search__img me-4"
      />
    </a>
    <form
      class="form-inline header-search__form"
      [formGroup]="searchForm"
      (submit)="onSearchCourses()"
    >
      <div>
        <button class="btn btn-outline-dark header-search__btn" type="submit">
          <i class="bi bi-search"></i>
        </button>
        <input
          [ngClass]="{ isValid: !isValid }"
          class="form-control"
          type="search"
          formControlName="search"
          [placeholder]="
            isValid ? 'Search For Anything' : 'Empty input is not allowed!'
          "
        />
      </div>
      <a [routerLink]="['/new']" class="btn btn-outline-dark" *ngIf="isLogin">
        Add New Course
      </a>
    </form>
  </div>

  <div class="header-search__toggle">
    <i class="bi bi-search" (click)="onToggleSearch()"></i>
  </div>

  <div class="header__login" *ngIf="!isLogin">
    <button
      [routerLink]="['/login']"
      type="button"
      class="btn btn-outline-dark"
    >
      Log in
    </button>
    <button
      type="button"
      class="btn btn-outline-dark btn-dark2"
      [routerLink]="['/signup']"
    >
      Sign up
    </button>
  </div>
  <div class="header__user" *ngIf="isLogin">
    <img src="./assets/img/computer-user.png" alt="" />
    <span>{{ userData?.username }}</span>
    <button class="btn btn-outline-dark" (click)="onLogout()">LOG OUT</button>
  </div>
</nav>

<div class="header-search__phone" [ngClass]="{ toggleSearch: toggleSearch }">
  <form
    class="form-inline header-search__form"
    [formGroup]="searchForm"
    (submit)="onSearchCourses()"
  >
    <div>
      <button class="btn btn-outline-dark header-search__btn" type="submit">
        <i class="bi bi-search"></i>
      </button>
      <input
        [ngClass]="{ isValid: !isValid }"
        class="form-control"
        type="search"
        formControlName="search"
        [placeholder]="
          isValid ? 'Search For Anything' : 'Empty input is not allowed!'
        "
      />
    </div>
    <a [routerLink]="['/new']" class="btn btn-outline-dark" *ngIf="isLogin">
      Add New Course
    </a>
  </form>
</div>
