<nav class="header">
  <div class="header-search">
    <div class="d-flex header-logo" [routerLink]="['/']">
      <img
        src="./assets/img/logo-udemy.svg"
        alt=""
        class="header-search__img"
      />
      <a class="navbar-brand">Fake Version</a>
    </div>
    <form
      class="form-inline header-search__form"
      [formGroup]="searchForm"
      (submit)="onSearchCourses()"
    >
      <div>
        <button class="btn btn-outline-dark header-search__btn" type="submit">
          <i class="bi bi-search"></i>
        </button>
        <input
          [ngClass]="{ isValid: !isValid }"
          class="form-control"
          type="search"
          formControlName="search"
          [placeholder]="
            isValid ? 'Search For Anything' : 'Empty input is not allowed!'
          "
        />
      </div>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="onAddNewCourse()"
      >
        Add New Course
      </button>
    </form>
  </div>

  <div class="header__login" *ngIf="!isLogin">
    <button
      [routerLink]="['/login']"
      type="button"
      class="btn btn-outline-dark"
    >
      Log in
    </button>
    <button
      type="button"
      class="btn btn-outline-dark btn-dark2"
      [routerLink]="['/signup']"
    >
      Sign up
    </button>
  </div>
  <div class="header__user" *ngIf="isLogin">
    <img src="./assets/img/computer-user.png" alt="" />
    <span>{{ userLogin.username }}</span>
    <button class="btn btn-outline-dark" (click)="onLogout()">LOG OUT</button>
  </div>
</nav>
