@import "../../../scss/variable";
@import "../../../scss/mixin";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  flex-wrap: nowrap;
  background-color: #fff !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  @include respond(phone) {
    flex-wrap: wrap;
  }

  &-logo {
    cursor: pointer;
  }

  .header-search {
    display: flex;
    position: relative;
    @include respond(phone) {
      // display: block;
      margin: 1rem 0;
    }
    .d-flex {
      align-items: center;
      a {
        padding-bottom: 1rem;
        font-size: 0.75rem;
        color: black;
      }
    }

    &__form {
      display: flex;
      align-items: center;
      gap: 1rem;
      max-width: 60%;
      @include respond(tab-land) {
        margin: 1rem 0;
        max-width: 60%;
      }
      @include respond(phone) {
        display: none;
      }
      .btn-outline-dark {
        white-space: nowrap;
      }

      input {
        border-radius: 500px;
      }
      div {
        display: flex;
        width: 55rem;
        border: 1px solid black;
        height: 2.5rem;
        border-radius: 500px;
        align-items: center;
        margin-right: 1rem;
        @include respond(desktop1400) {
          width: 35rem;
        }
        @include respond(tab-land) {
          width: 25rem;
        }
        @include respond(tab-port) {
          width: 22rem;
        }
        @include respond(phone) {
          width: 55rem;
        }
        input {
          flex: 2;
          outline: none;
          border: none;
        }
      }
    }

    &__img {
      display: block;
      height: 2.2rem;
    }

    &__btn {
      outline: none;
      border: none;
      font-size: 1.25rem;
      border-radius: 500px;
      &:hover,
      &:focus,
      &:active {
        background-color: inherit;
        color: inherit;
        box-shadow: none;
      }
      i {
        &:hover {
          color: $color-purple;
        }
      }
    }

    &__toggle {
      display: none;
      cursor: pointer;
      font-size: 1.8rem;
      transition: all ease 0.3s;
      i {
        color: #000;
        &:hover {
          color: $color-purple;
        }
      }

      @include respond(phone) {
        display: block;
      }
    }
  }

  &__login {
    display: flex;
    gap: 1rem;
  }

  &__user {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 700;
    img {
      display: block;
      width: 2em;
      height: auto;
    }
    span {
      position: relative;
      align-self: baseline;
      &::after {
        content: "";
        position: absolute;
        height: 2rem;
        width: 1px;
        background-color: #000;
        top: -10%;
        right: -0.8rem;
      }
    }
    button {
      font-size: 0.8rem;
      border: none;
      align-self: baseline;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        background-color: inherit;
        color: inherit;
        box-shadow: none;
      }
    }
  }
}

.isValid::placeholder {
  color: red;
}

.header-search__btn {
  border: 0;
}

.header-search__phone {
  padding: 0 2rem;
  display: none;
  background-color: #fff !important;
  animation: lineV 0.1s linear;
  .header-search__form {
    display: block;
    align-items: center;
    gap: 1rem;
    max-width: 60%;
    padding-bottom: 1rem;

    .btn-outline-dark {
      white-space: nowrap;
    }

    input {
      border-radius: 500px;
    }
    div {
      display: flex;
      width: 30rem;
      border: 1px solid black;
      height: 2.5rem;
      border-radius: 500px;
      align-items: center;
      margin-right: 1rem;
      margin-bottom: 1rem;

      input {
        flex: 2;
        outline: none;
        border: none;
      }
    }
  }
}

.toggleSearch {
  display: none;
  @include respond(phone) {
    display: block;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  }
}
