<div class="edit">
  <form class="edit__form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Course name: </label>
      <input
        id="name"
        class="form-control"
        autocomplete="off"
        type="text"
        formControlName="name"
      />
      <small
        id="passwordHelpBlock"
        class="form-text text-muted"
        *ngIf="
          (editForm.get('name')?.touched || editForm.get('name')?.dirty) &&
          editForm.get('name')?.invalid
        "
      >
        The field Course Name must be a string with a minimum length of 5
      </small>
    </div>
    <div class="form-group">
      <label for="desc">Course Description: </label>
      <textarea
        id="desc"
        class="form-control"
        type="text"
        formControlName="desc"
      ></textarea>
      <small
        id="passwordHelpBlock"
        class="form-text text-muted"
        *ngIf="
          (editForm.get('desc')?.touched || editForm.get('desc')?.dirty) &&
          editForm.get('desc')?.invalid
        "
      >
        The field Course description must be a string with a minimum length of
        10
      </small>
    </div>
    <div class="form-group">
      <label for="desc">Course Detail: </label>
      <textarea
        id="detail"
        class="form-control"
        type="text"
        formControlName="detail"
      ></textarea>
      <small
        id="passwordHelpBlock"
        class="form-text text-muted"
        *ngIf="
          (editForm.get('detail')?.touched || editForm.get('detail')?.dirty) &&
          editForm.get('detail')?.invalid
        "
      >
        The field Course detail must be a string with a minimum length of 10
      </small>
    </div>
    <div class="form-compo">
      <div class="form-group">
        <label for="rating">Course rating: </label>
        <input
          id="rating"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ new: typeModal === 'new' }"
          type="text"
          formControlName="rating"
        />
      </div>
      <div class="form-group">
        <label for="price">Course price: </label>
        <input
          id="price"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ new: typeModal === 'new' }"
          type="text"
          formControlName="price"
        />
      </div>

      <!--  -->
      <div class="form-group edit__select">
        <label for="category">Category: </label>
        <select class="form-control" id="category" formControlName="categoryId">
          <option [value]="category.id" *ngFor="let category of categories">
            {{ category.name }}
          </option>
        </select>
        <i for="category" class="bi bi-caret-down edit__select--icon"></i>
      </div>
    </div>
    <small
      id="passwordHelpBlock"
      class="form-text text-muted"
      *ngIf="
        (editForm.get('rating')?.touched || editForm.get('rating')?.dirty) &&
        editForm.get('rating')?.invalid
      "
    >
      Your course rating must be an integer
    </small>
    <small
      id="passwordHelpBlock"
      class="form-text text-muted"
      *ngIf="
        (editForm.get('price')?.touched || editForm.get('price')?.dirty) &&
        editForm.get('price')?.invalid
      "
    >
      Your Course price must be a number
    </small>
    <!--  -->
    <div class="d-flex2">
      <div class="form-group">
        <label for="instructor">Course instructor: </label>
        <input
          id="instructor"
          autocomplete="off"
          class="form-control"
          type="text"
          formControlName="instructor"
        />
      </div>
      <div class="form-group">
        <label for="instructor">Language: </label>
        <input
          id="language"
          autocomplete="off"
          class="form-control"
          type="text"
          formControlName="language"
        />
      </div>
    </div>
    <small
      id="passwordHelpBlock"
      class="form-text text-muted"
      *ngIf="
        (editForm.get('instructor')?.touched ||
          editForm.get('instructor')?.dirty) &&
        editForm.get('instructor')?.invalid
      "
    >
      The field Course instructor must be a string with a minimum length of 3
    </small>
    <small
      id="passwordHelpBlock"
      class="form-text text-muted"
      *ngIf="
        (editForm.get('language')?.touched ||
          editForm.get('language')?.dirty) &&
        editForm.get('language')?.invalid
      "
    >
      The field Course language must be a string with a minimum length of 3
    </small>
    <div class="form-group">
      <label for="imageUrl">Course ImageUrl: </label>
      <input
        id="imageUrl"
        autocomplete="off"
        class="form-control"
        type="text"
        formControlName="imageUrl"
      />
      <small
        id="passwordHelpBlock"
        class="form-text text-muted"
        *ngIf="
          (editForm.get('imageUrl')?.touched ||
            editForm.get('imageUrl')?.dirty) &&
          editForm.get('imageUrl')?.invalid
        "
      >
        The field Course imageUrl must be a valid url
      </small>
    </div>
    <img [src]="editForm.value.imageUrl" alt="" class="edit__img" />
    <div class="edit__button">
      <button
        *ngIf="typeModal !== 'new'"
        type="submit"
        class="btn btn-outline-dark"
        [disabled]="editForm.invalid || !editForm.dirty"
      >
        Edit
      </button>
      <button
        *ngIf="typeModal === 'new'"
        type="submit"
        class="btn btn-outline-dark"
        [disabled]="editForm.invalid || !editForm.dirty"
      >
        Add Course
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
