<section class="login">
  <div class="login__left">
    <div class="login__logo" [routerLink]="['']">
      <img
        src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
        alt=""
      />
      <span>Fake Version</span>
    </div>
    <form action="" class="login__form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <button type="submit" class="btn btn-outline-dark btn-dark2">
        Submit
      </button>
    </form>
    <button type="submit" class="btn btn-outline-dark login__signup">
      Create an account
    </button>
    <div class="login__reserve">
      <p>Copyright © 2004 - 2021 Udehihi</p>
      <p>All rights reserved</p>
      <p></p>
    </div>
  </div>
  <div class="login__banner">
    <img
      src="https://www.pluralsight.com/content/dam/pluralsight2/login/login-h1.png"
      alt=""
    />
  </div>
</section>
