<section class="login">
  <div class="login__left">
    <a class="login__logo" [routerLink]="['']">
      <img src="./assets/img/header_logo.png" alt="" />
    </a>
    <form
      action=""
      class="login__form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <!--  -->
      <div class="form-group">
        <label for="username">Username</label>
        <input
          class="form-control"
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          formControlName="username"
          autocomplete="off"
        />
        <small
          id="passwordHelpBlock"
          class="form-text text-muted"
          *ngIf="
            (loginForm.get('username')?.touched ||
              loginForm.get('username')?.dirty) &&
            loginForm.get('username')?.status === 'INVALID'
          "
        >
          The field Username must be a string with a minimum length of 3 and a
          maximum length of 8
        </small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          id="password"
          placeholder="********"
          formControlName="password"
        />
        <small
          id="passwordHelpBlock"
          class="form-text text-muted"
          *ngIf="
            (loginForm.get('password')?.touched ||
              loginForm.get('password')?.dirty) &&
            loginForm.get('password')?.status === 'INVALID'
          "
        >
          The field Password must be a string with a minimum length of 4
        </small>
      </div>

      <button
        type="submit"
        class="btn btn-outline-dark btn-dark2"
        [disabled]="!isValid"
      >
        Login
      </button>
    </form>
    <button
      type="submit"
      class="btn btn-outline-dark login__signup"
      (click)="onSignup()"
    >
      Create an account
    </button>
    <div class="login__reserve">
      <p>Copyright © 2004 - 2021 EduHash</p>
      <p>All rights reserved</p>
      <p></p>
    </div>
  </div>
  <div class="login__banner">
    <img src="./assets/img/login-h1.png" alt="" />
  </div>
</section>
