<div class="container" *ngIf="totalPage > 1">
  <div class="pagination">
    <ul class="pagination-2">
      <button
        class="prev"
        (click)="onNavigatePage('prev')"
        [disabled]="currentPage === 1"
        [ngClass]="{ disabled: currentPage === 1 }"
      >
        <i class="bi bi-caret-left-fill"></i>
      </button>
      <li
        class="page-number"
        *ngIf="minPageNumberLimit >= 1"
        (click)="onGoFirstPage()"
      >
        1
      </li>
      <li
        class="page-number"
        *ngIf="minPageNumberLimit >= 1"
        (click)="onNavigatePage('prev')"
      >
        &hellip;
      </li>
      <li
        class="page-number"
        [ngClass]="{ active: el === currentPage }"
        *ngFor="let el of pageArray"
        (click)="onChangePage(el)"
      >
        {{ el }}
      </li>
      <li
        class="page-number"
        *ngIf="pageLength > maxPageNumberLimit"
        (click)="onNavigatePage('next')"
      >
        &hellip;
      </li>

      <button
        class="prev"
        (click)="onNavigatePage('next')"
        [disabled]="currentPage === totalPage"
        [ngClass]="{ disabled: currentPage === totalPage }"
      >
        <i class="bi bi-caret-right-fill"></i>
      </button>
    </ul>
  </div>
</div>
