<section class="courses container mt-4" [ngClass]="{ isLogin: !isLogin }">
  <h2 *ngIf="!isSearch && searchResultLLength !== 0">
    Courses to get you started
  </h2>
  <h2 *ngIf="isSearch && searchResultLLength !== 0">
    {{ searchResultLLength }}
    {{ searchResultLLength > 1 ? "courses" : "course" }} for "{{ searchQuery }}"
  </h2>

  <form
    class="courses__filtering"
    [formGroup]="filterForm"
    *ngIf="searchResultLLength !== 0 && !isLoading"
  >
    <select
      class="form-select courses__filtering-select"
      aria-label="Default select example"
      formControlName="filterCri"
    >
      <option class="options" value="default">Filter By...</option>
      <option class="options" value="az">Name: a -> z</option>
      <option class="options" value="za">Name: z -> a</option>
      <option class="options" value="lowest">Price: lowest first</option>
      <option class="options" value="highest">Price: highest first</option>
    </select>
  </form>

  <div class="courses-list" *ngIf="searchResultLLength !== 0 && !isLoading">
    <app-course *ngFor="let course of courses" [course]="course"></app-course>
  </div>

  <h2 *ngIf="searchResultLLength === 0">There are no available course now!</h2>
  <div *ngIf="searchResultLLength === 0" class="courses__available">
    <img src="./assets/img/commingsoon.jpg" alt="" />
  </div>
</section>
<!-- Loading Spinner -->
<app-loading *ngIf="isLoading"></app-loading>
