/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "./scss/variable";
@import "./scss/mixin";
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: rgb(248, 249, 250);
}

@media screen and (max-width: 75em) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 56.25em) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 43.75em) {
  html {
    font-size: 70%;
  }
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1000px;
}

.btn-outline-danger {
  color: #a435f0;
  border-color: #a435f0;
  &:hover {
    color: #fff;
    background: #a435f0;
  }
}

.btn {
  border-radius: 0;
  font-weight: 900;
}

.btn-dark2 {
  background-color: black;
  color: #fff;
  &:hover {
    background-color: rgb(black, 0.9);
  }
}

.form-control {
  border: 1px solid black;
  border-radius: 0px;
  &:focus {
    border: 1px solid black;
    box-shadow: none;
  }
}

label {
  font-weight: bolder;
}

.dark-background {
  background-color: $color-darkbg;
}

.badge-bestseller {
  background-color: #eceb98;
  color: #3d3c0a;
  display: inline-block;
  padding: 0.15rem 0.5rem;
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: 900;
}

.text-purple {
  color: #a435f0;
}
.text-purple-light {
  color: #cec0fc;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.7) translate(-50%, -50%);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
