@import "../../../scss/variable";
@import "../../../scss/mixin";

.courses {
  height: 60rem;
  @include respond(tab-port) {
    height: 65rem;
  }
  @include respond(phone) {
    height: 90rem;
  }
}
